{{> header}}
<div class="container my-5">
    <h2>Recuperar contraseña</h2>
    
    {{#error}}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
    {{/error}}

    {{#message}}
    <div class="alert alert-success" role="alert">
        {{message}}
    </div>
    {{/message}}

    <form action="/forgot-password" method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
        <div class="mb-3">
            <label>Introduce tu correo electrónico (Email del Equipo)</label>
            <input type="email" name="email" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Enviar enlace de recuperación</button>
    </form>
</div>
{{> footer}}